.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #b38add;
}

.credits a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.credits a:hover {
    text-decoration: underline;
}