.calendar__weekends {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.calendar__days {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 3rem;
}

.calendar__days div {
    margin: 1rem;
}

.calendar__today {
    cursor: pointer;
    background: none;
    height: 20vh;
    width: 20vh;
    font-size: 6rem;
}

.calendar__day {
    cursor: pointer;
    background: none;
    height: 20vh;
    width: 20vh;
    border: none;
    font-size: 6rem;
}